@charset "utf-8";
/*
    Código feito por André Rodrigues 
    Versão 0.1
    
░░░░▀░░░░░░░░░░░▀▀███████░░░░
░░█▌░░░░░░░░░░░░░░░▀██████░░░
░█▌░░░░░░░░░░░░░░░░███████▌░░
░█░░░░░░░░░░░░░░░░░████████░░
▐▌░░░░░░░░░░░░░░░░░▀██████▌░░
░▌▄███▌░░░░▀████▄░░░░▀████▌░░
▐▀▀▄█▄░▌░░░▄██▄▄▄▀░░░░████▄▄░
▐░▀░░═▐░░░░░░══░░▀░░░░▐▀░▄▀▌▌
▐░░░░░▌░░░░░░░░░░░░░░░▀░▀░░▌▌
▐░░░▄▀░░░▀░▌░░░░░░░░░░░░▌█░▌▌
░▌░░▀▀▄▄▀▀▄▌▌░░░░░░░░░░▐░▀▐▐░
░▌░░▌░▄▄▄▄░░░▌░░░░░░░░▐░░▀▐░░
░█░▐▄██████▄░▐░░░░░░░░█▀▄▄▀░░
░▐░▌▌░░░░░░▀▀▄▐░░░░░░█▌░░░░░░
░░█░░▄▀▀▀▀▄░▄═╝▄░░░▄▀░▌░░░░░░
░░░▌▐░░░░░░▌░▀▀░░▄▀░░▐░░░░░░░
░░░▀▄░░░░░░░░░▄▀▀░░░░█░░░░░░░
░░░▄█▄▄▄▄▄▄▄▀▀░░░░░░░▌▌░░░░░░
░░▄▀▌▀▌░░░░░░░░░░░░░▄▀▀▄░░░░░
▄▀░░▌░▀▄░░░░░░░░░░▄▀░░▌░▀▄░░░
░░░░▌█▄▄▀▄░░░░░░▄▀░░░░▌░░░▌▄▄
░░░▄▐██████▄▄░▄▀░░▄▄▄▄▌░░░░▄░
░░▄▌████████▄▄▄███████▌░░░░░▄
░▄▀░██████████████████▌▀▄░░░░
▀░░░█████▀▀░░░▀███████░░░▀▄░░
░░░░▐█▀░░░▐░░░░░▀████▌░░░░▀▄░
░░░░░░▌░░░▐░░░░▐░░▀▀█░░░░░░░▀
░░░░░░▐░░░░▌░░░▐░░░░░▌░░░░░░░
*/
* {
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body{
    background-color: #FAFAFA;
    overflow-x: hidden;
}
/****Código abaixo está em MobileFirst****/
main {
	background-color: #CCC;
	margin: auto;
}
nav {
	background: #333;
	width: 100%;
}
@media(max-width: 48em){
	main {
		width: 80%;
		height: auto !important;
		background-color: pink;
	}
	/* Grids */
	.footer {
		height: auto !important;
	}
	.col1, .col2, .col3 {
		width: 100% !important;
	}
	/* menu */
	nav {
		height: auto !important;
		min-height: 15.5em;
	}
	nav ul {
		height: 11em;
	}

	nav ul a {
		display: block;
	}

	nav form {
		margin: auto;
		width: 100%;
		/*padding: 1em;*/
	}
	nav form input[type="search"] {
		width: 93%;
		margin-bottom: 0.30rem;
	}

	nav form input[type="submit"]{
		position: relative top 1rem;
	}
}
/*** codigo abaixo pra tablet *****/
@media(min-width: 48em){
main {
	background-color: #fff;
	margin: auto;
	max-width: 80%;
}
/*Grids*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col"]{
	float: left;
    padding: 0.90rem;   
}
.col1{width: 100%;}
.col2{width: 50%;}
.col3{width: 33%;}
/*Header*/
header{
	background-color: #2E7D32; 
	min-height: 7em;
	max-height: 100%;
}
header .container{
	padding: 0.6em 0.8em;
}
header h1{
	color: #fff; 
	font-family: 'Montserrat', sans-serif;
	font-size: 4rem;
}
header h1:after{
	content:"Campus Bambuí";
	font-size: 1rem;
}
/*Menu*/
nav{
	background: #333;
	height: 40px;
	padding: 10px;
}
nav ul{width: 58%;}
nav form{width: 35%;}
nav> ul, nav> form{float: left;}
nav> form input[type="search"], nav> form input[type="submit"]{
	position: relative;
}
nav> form input[type="search"]{
	border: none;	
	padding: 0.4rem;	
	bottom: 0.30rem;
}
nav> form input[type="submit"]{
	background-color: #fff;
	border: none;
	bottom: 0.3rem;
	padding: 0.35rem;
}
nav a{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0.17rem;
	padding: 0.1rem;
	text-decoration: none;
}
/*Sections*/
section .container{padding: 1.7em 2.4em;}
section figure{position: relative;}
section img{width: 100%;}
section figure figcaption{
	background-color: rgba(51, 51, 51, 0.73);
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	padding: 0.62em;
	position: absolute;
	bottom: 1.24em;
}
section a{
	color: #333;
	text-decoration: none;
}
section a:hover{
	background-color: #333;
	color: #fff;
	transition: 1s;
}
section h2{
	color: #4caf50;	
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125em;
	text-transform: uppercase;	
}
section p{
	font-family: 'Josefin Sans', sans-serif;
}
/*button*/
.button{
	border: 0.064em solid #333;	
	padding: 0.5em;
	position: relative;
	top: 1.82em;
}
/*Footer*/
footer{
	background-color: #333;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	padding: 1rem;
}

}
/****Código abaixo está em FirstDesk****/
main {
	background-color: #fff;
	margin: auto;
	max-width: 80%;
}
/*Grids*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col"]{
	float: left;
    padding: 0.90rem;   
}
.col1{width: 100%;}
.col2{width: 50%;}
.col3{width: 33%;}
/*Header*/
header{
	background-color: #2E7D32; 
	min-height: 7em;
	max-height: 100%;
}
header .container{
	padding: 0.6em 0.8em;
}
header h1{
	color: #fff; 
	font-family: 'Montserrat', sans-serif;
	font-size: 4rem;
}
header h1:after{
	content:"Campus Bambuí";
	font-size: 1rem;
}
/*Menu*/
nav{
	background: #333;
	height: 40px;
	padding: 10px;
}
nav ul{width: 58%;}
nav form{width: 28%;}
nav> ul, nav> form{float: left;}
nav> form input[type="search"], nav> form input[type="submit"]{
	position: relative;
}
nav> form input[type="search"]{
	border: none;	
	padding: 0.4rem;	
	bottom: 0.30rem;
}
nav> form input[type="submit"]{
	background-color: #fff;
	border: none;
	bottom: 0.3rem;
	padding: 0.35rem;
}
nav a{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0.17rem;
	padding: 0.1rem;
	text-decoration: none;
}
/*Sections*/
section .container{padding: 1.7em 2.4em;}
section figure{position: relative;}
section img{width: 100%;}
section figure figcaption{
	background-color: rgba(51, 51, 51, 0.73);
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	padding: 0.62em;
	position: absolute;
	bottom: 1.24em;
}
section a{
	color: #333;
	text-decoration: none;
}
section a:hover{
	background-color: #333;
	color: #fff;
	transition: 1s;
}
section h2{
	color: #4caf50;	
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125em;
	text-transform: uppercase;	
}
section p{
	font-family: 'Josefin Sans', sans-serif;
}
/*button*/
.button{
	border: 0.064em solid #333;	
	padding: 0.5em;
	position: relative;
	top: 1.82em;
}
/*Footer*/
footer{
	background-color: #333;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	padding: 1rem;
}
